
body {
    margin: 0;
    padding: 0;
}


table {

    border: none;
    border-collapse: collapse;

    font-family: Courier;
    font-size: 10px;

    margin: 0;
    padding: 0;

}

thead td {
    text-align: center;
    vertical-align: middle;
}

tr:not(:first-child) {
    border-top: 1px solid #eee;
}

td {
    margin: 0;
    padding: 2px;
    text-align: right;
}

td:not(:first-child) {
    border-left: 1px solid #eee;
}

td.section-start {
    border-left: 1px solid #aaa;
}

td.net, td.disk_read_bytes, td.disk_write_bytes {
    width: 10ex; /* for 8 chars */
}

td.cpu_min, td.cpu_avg, td.cpu_max {
    width: 5ex; /* for 4 chars */
}
td.nfs {
    width: 5ex; /* for 4 chars */
}
