<!doctype html>
<head>
    <title>statuspage</title>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.4/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/canvasjs/1.7.0/jquery.canvasjs.min.js"></script>
    <script src="{{ url_for('static', filename='js/main.js') }}"></script>
    <style>
        .chart {
            width: 9.9%;
            height: 150px;
            float: left;
        }
        .canvasjs-chart-credit {
            display: none;
        }
        
    </style>
<body>
